.input-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 0;
	margin: 0;
	text-align: center;
}


h1 {
	text-align: center;
}


.functionButton {
  width: 125px;
	height: 40px;
  margin-top: auto;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: #8884FF;
	color: white;
	cursor: pointer;
	font-size: 13px;
	font-weight: bold;
	transition: background-color 0.3s, transform 0.3s;
}

.functionButton:hover {
	background-color: #736BFF;
	transform: translateY(-2px);
}

.functionButton:active {
	background-color: #5F56E6;
	transform: translateY(0);
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

label {
	font-size: 18px;
}

.numInput {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.inputs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  width: 700px;
}


.section {
	border: 2px solid #000000;
	background-color: #D7BCE8;
	border-radius: 10px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.randomized {
	width: 300px;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.input-field {
	width: 3rem;
}


.taskProject {
	display: flex;
	flex-direction: column;
	text-align: center;
}

h2 {
	margin-bottom: 0 !important;
}

.randomized h2,
.randomized button {
	text-align: center;
	margin-bottom: 0;
}

p {
	font-size: 18px;
}

.randomPlan {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0.5rem;
  display: flex;
	flex-direction: column;
	gap: 5px;
}

.mainButton {
	margin-top: 1rem !important;
}



.randomPlanItem {
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: 30px;
}


body {
	background-color: #893168;
}

h1 {
	color: white;
}

h2 {
	text-align: center;
}


.taskProject {
	display: flex;
	justify-content: center;
	align-items: center;
}

.delete {
	padding: 3px;
	border: none;
	border: black solid 1px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 7px;
	background-color: #d2aee8;
  margin-right: 7px;
	cursor: pointer;
}

.delete:hover {
	background-color: #C5A9D1;
	transform: scale(1.1);
	transition: 0.3s ease;
}

li {
	font-size: 18px;
}


.randomPlan p {
	margin: 0;
	padding: 0;
}

.taskProject li {
	display: flex;
	align-items: center;
}

.taskProject {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	min-height: 200px;
}

.taskProject ul {
	margin: 0;
	list-style: none;
	margin-bottom: 0.5rem;
}

.taskProject li {
	margin: 0.5rem;
}

.taskProject h2 {
	margin-top: 0 !important;
	text-align: center;

}

h2 {
	margin-top: 0;
	margin-bottom: auto;

}

.randomized {
	text-align: justify;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.randomized h2 {
	margin-top: 0;
}

.randomPlan {
	flex-grow: 1;
}

.mainButton {
	align-self: center;
}

.section {
	margin-bottom: 2rem;
	padding: 1rem;
	min-height: 150px;
}